In [ ]:
# 비트코인 가격, 거래량, 증감률
b_price = [46311, 38481, 43194, 45554, 37713, 31792, 19820, 23336, 20050, 19431, 20494, 17168, 16547, 23137, 23150, 28473, 29227, 27218, 30471, 29230, 25934, 26967, 34657, 37718]
# a = [923B, 671B, 830B, 830B, 1T, 923B, 927B, 894B, 1.1T, 957B, 1.2T, 567B, 690B, 723B, 883B, 531B, 443B, 481B, 382B, 437B, 337B, 476B, 570B, 721B]
b_trade = [0.9, 0.6, 0.8, 0.8, 1, 0.9, 0.8, 1.1, 0.9, 1.2, 0.5, 0.6, 0.7, 0.8, 0.5, 0.4, 0.4, 0.3, 0.4, 0.3, 0.4, 0.5, 0.7] # trillion 단위임
b_updown = [-16, 12, 5, -17, -15, -37, 17, -14, -3, 5, -16, -3, 39, 0, 23, 2, -6, 11, -4, -11, 4, 28, 8, 12]

In [ ]:
#나스닥 지수 가격, 거래량
s_price = [15732, 14277, 13716, 14269, 12331, 12176, 11006, 12317, 11707, 10659, 11154, 11475, 10562, 11573, 11447, 12146, 12210, 12944, 13798, 14274, 14129, 13217, 12887, 14181]
s_trade = [20, 18, 26, 19, 23, 26, 18, 21, 22, 19, 20, 21, 19, 19, 25, 17, 21, 25, 19, 21, 19, 19, 19, 20] # billion 단위임

In [ ]:
#예금량
deposits = [17936,17999,18058,18162,18136,18113,18017,18027,17953,17814,17713,17746,17736,17711,17615,17293,17248,17284,17371,17363,17297,17361,17351,17311] #billion
print(len(deposits))

24

In [ ]:
import numpy as np
import statistics as stat
from matplotlib import pyplot
import pandas as pd

In [ ]:
# 애플 가격 거래량
a_price = [178,174,165,174,157,150,136,161,157,138,155,148,130,144,147,164,169,178,194,196, 189,171, 171, 190]
a_trade = [2.1, 1.6, 2.2 , 1.7, 2.4, 1.7, 1.4, 1.5, 2.0, 1.8, 1.7, 1.6, 1.4, 1.3, 1.5, 0.9, 1.2, 1.03, 0.9, 1.3, 1.3, 1.2, 1.0, 1.1] #billion 단위임

print(len(a_price))

24

In [ ]:
data = pd.DataFrame({'bitcoin price' : b_price,'nasdaq' : s_price, 'deposits' : deposits, 'apple price' : a_price})

print("The DataFrame of Employees is:")
print(data, "\n")

corr_df = data.corr(method="spearman")
print("The correlation DataFrame is:")
print(corr_df, "\n")

corr_df = data.corr(method="pearson")
print("The correlation DataFrame is:")
print(corr_df, "\n")

corr_df.style.background_gradient(cmap="coolwarm")

The DataFrame of Employees is:
    bitcoin price  nasdaq  deposits  apple price
0           46311   15732     17936          178
1           38481   14277     17999          174
2           43194   13716     18058          165
3           45554   14269     18162          174
4           37713   12331     18136          157
5           31792   12176     18113          150
6           19820   11006     18017          136
7           23336   12317     18027          161
8           20050   11707     17953          157
9           19431   10659     17814          138
10          20494   11154     17713          155
11          17168   11475     17746          148
12          16547   10562     17736          130
13          23137   11573     17711          144
14          23150   11447     17615          147
15          28473   12146     17293          164
16          29227   12210     17248          169
17          27218   12944     17284          178
18          30471   13798     17371          194
19          29230   14274     17363          196
20          25934   14129     17297          189
21          26967   13217     17361          171
22          34657   12887     17351          171
23          37718   14181     17311          190

The correlation DataFrame is:
               bitcoin price    nasdaq  deposits  apple price
bitcoin price       1.000000  0.836522  0.138261     0.678416
nasdaq              0.836522  1.000000 -0.051304     0.909487
deposits            0.138261 -0.051304  1.000000    -0.367711
apple price         0.678416  0.909487 -0.367711     1.000000

The correlation DataFrame is:
               bitcoin price    nasdaq  deposits  apple price
bitcoin price       1.000000  0.810528  0.190460     0.560380
nasdaq              0.810528  1.000000 -0.120467     0.861879
deposits            0.190460 -0.120467  1.000000    -0.479570
apple price         0.560380  0.861879 -0.479570     1.000000

In [ ]:
n=len(b_price)
Xs,Ys=sum(s_price),sum(b_price)
Xm,Ym=Xs/n,Ys/n

X2,Y2,XYs,Xss,Yss=0,0,0,0,0
for x,y in zip(s_price,b_price):
    Xss+=(x-Xm)**2
    Yss+=(y-Ym)**2
    XYs+=x*y                         #   XYs+=(x-Xm)*(y-Ym)
    X2+=x**2
    Y2+=y**2
print(XYs,Xs,Ys,X2,Y2,Xm,Ym,Xss,Yss)


a=(n*XYs-Xs*Ys)/(n*X2-Xs**2)
b=Ym-a*Xm
Yh="y="+str(round(a,2))+'x+'+str(round(b,2))
print(Yh)


Sxy,Sx,Sy=0,0,0
for x,y in zip(s_price,b_price):
    Sx+=(x-Xm)**2
    Sy+=(y-Ym)**2
    Sxy+=(x-Xm)*(y-Ym)
print(Sx,Sy,Sxy)
r=Sxy/(Xs*Ys)**(1/2)
print(r)

print(XYs,Xs,Ys,X2,Y2,Xm,Ym,Xss,Yss,Sx,Sy,Sxy)  #Xss=Sx Yss=Sy Sxy(Correletion Coefficient's value) !=XYs(a's value)   Correlation's value={(x-Xm)**2,(y-Ym**2),(x-Xm)*(y-Ym)}  Regression'svalue={n*XY}

9050109306 696073 304187 3899271777 21988314703 29003.041666666668 12674.458333333334 6442809528.125001 8199023689.124998
y=-0.01x+13079.99
1800080480.9583333 43866319.95833334 227761070.54166666
494.97330427964664
9050109306 696073 304187 3899271777 21988314703 29003.041666666668 12674.458333333334 6442809528.125001 8199023689.124998 1800080480.9583333 43866319.95833334 227761070.54166666

In [ ]:

pyplot.scatter(s_price,b_price)
pyplot.title("SAT and GPA")
pyplot.xlabel("SAT")
pyplot.ylabel("GPA")
pyplot.grid()
Yh="y="+str(round(a,2))+"X"+str(round(b,2))
print(Yh)
pyplot.plot([min(s_price),max(s_price)],[a*min(s_price)+b,a*max(s_price)+b], color='red', label=Yh)
pyplot.plot([Xm,Xm],[min(b_price),max(b_price)], color='orange', label="Xm="+str(Xm))
pyplot.plot([min(s_price),max(s_price)],[Ym,Ym], color="blue", label="Ym="+str(round(Ym,2)))

pyplot.legend()  # Is it match with Y and X Axis? They are operating Dependent{A, B that is Label}


pyplot.show()

NameError: ignored